VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_PROJECT_ID=your_project_id_here
VITE_FIREBASE_BASE_URL=https://firestore.googleapis.com/v1/projects/your_project_id_here/databases/(default)/documents
VITE_CLOUDINARY_CLOUD_NAME=test
VITE_CLOUDINARY_UPLOAD_PRESET=test